<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                 <h2 class="section-heading">다들 정말 반가워요!</h2>
                <hr class="light">
                <p class="text-faded"; style=font-size:1.5em> 저는 멋사 4기 예요.  독학보다 스터디가 좋아서 지원하게 되었습니다. </p>  
                <p class="text-faded"; style=font-size:1.5em> <strong>다같이 열심히 해봐요!</strong> </p>
                <a href="#services" class="btn btn-default btn-xl"> 시작! </a>
            </div>
        </div>
    </div>
</section>
