
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box card">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="card__face card__face--front portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    꿈
                                </div>
                                <div class="project-name">
                                    IT업계 최강자
                                </div>
                            </div> 
                            <div class="card__face card__face--back portfolio-box-caption-content2">
                                <div class="project-content">
                                    우주여행: 지금은 다들 놀리지만, 나는 언젠가 정말 우주여행을 갈 것이다.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box card">
                        <img src="img/portfolio/jin21.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="card__face card__face--front portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    취미
                                </div>
                                <div class="project-name">
                                    배낭여행
                                </div>
                            </div>
                            
                            <div class="card__face card__face--back portfolio-box-caption-content2">
                                <div class="project-content">
                                    우주여행: 지금은 다들 놀리지만, 나는 언젠가 정말 우주여행을 갈 것이다.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box card">
                        <img src="img/portfolio/jin41.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="card__face card__face--front portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    특기
                                </div>
                                <div class="project-name">
                                    항상 무언가에 몰두해 있음
                                </div>
                            </div>
                            <div class="card__face card__face--back portfolio-box-caption-content2">
                                <div class="project-content">
                                    우주여행: 지금은 다들 놀리지만, 나는 언젠가 정말 우주여행을 갈 것이다.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box card">
                        <img src="img/portfolio/jin31.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="card__face card__face--front portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    소중한 대상
                                </div>
                                <div class="project-name">
                                    가족과 친구
                                </div>
                            </div>
                            <div class="card__face card__face--back portfolio-box-caption-content2">
                                <div class="project-content">
                                    우주여행: 지금은 다들 놀리지만, 나는 언젠가 정말 우주여행을 갈 것이다.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box card">
                        <img src="img/portfolio/jin11.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="card__face card__face--front portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    50살 전에 하고 싶은 일
                                </div>
                                <div class="project-name">
                                    세계적으로 유익한 비즈니스 운영
                                </div>
                            </div>
                            <div class="card__face card__face--back portfolio-box-caption-content2">
                                <div class="project-content">
                                    우주여행: 지금은 다들 놀리지만, 나는 언젠가 정말 우주여행을 갈 것이다.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box card">
                        <img src="img/portfolio/51.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="card__face card__face--front portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    100살 전에 하고 싶은 일
                                </div>
                                <div class="project-name">
                                    우주여행: 지금은 다들 놀리지만, 나는 언젠가 정말 우주여행을 갈 것이다.
                                </div>
                            </div>
                            <div class="card__face card__face--back portfolio-box-caption-content2">
                                <div class="project-content">
                                    우주여행: 지금은 다들 놀리지만, 나는 언젠가 정말 우주여행을 갈 것이다.
                                </div>
                            </div>
                        </div>    
                    </a>
                </div>
                
            </div>
        </div>
    </section>
    
<script>
    $('.card').click(function() {
         $(this).toggleClass('is-flipped');
    });
</script>

<style>
.portfolio-box-caption-content2 {
    text-align: center;
    position: relative;
    top: 40%;
    padding: 0 30px;   
}
.project-content{
  display: inline-block;
  vertical-align: middle;
}  
.card.is-flipped {
  transform: rotateY(180deg);
}
.card__face--back {
  transform: rotateY(180deg);
}
.card{
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
}  
.card__face {

  backface-visibility: hidden;
}

</style>